.banner {
  background-image: linear-gradient(0deg, #00000023, #000000b3),
    url("../assets/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner_home {
  position: absolute;
  bottom: -10px;
  left: 20%;
  filter: drop-shadow(5px 5px 5px #222);
}

.banner_home img {
  height: auto;
}

@media only screen and (max-width: 990px) {
  .container-fluid {
    padding: 0 30px !important ;
  }
  .banner {
    height: 100vh;
  }
  .banner_home {
    left: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    height: 70vh;
  }
  .banner_home {
    left: 10%;
  }
}
@media only screen and (max-width: 575px) {
  .banner {
    height: 60vh;
  }
  .banner_home {
    left: 10%;
  }
}
