.banner {
  /*  */
  /* background-image: url("https://source.unsplash.com/1450x900?construction,homes,forests"); */
  background-image: linear-gradient(0deg, #00000023, #000000b3),
    url("../assets/download\ \(1\).jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.banner_home {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: drop-shadow(5px 5px 5px #222);
}

.banner_home img {
  height: 300px;
  width: 100%;
}

.banner .main_content {
  position: absolute;
  top: 25%;
}

.main_content h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border-top: 3px solid #fd5a0d;
  padding: 22px 0px 0 0;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
  max-width: fit-content;
}

.main_content h1 strong {
  display: block;
  font-weight: 700;
  text-shadow: 0px 4.074199199676514px 4.074199199676514px rgba(0, 0, 0, 0.5);
  width: fit-content;
  line-height: 50px;
}
.main_content p {
  color: #bcbcbc;
  font-size: 16px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px black;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}
.banner_btn {
  margin-top: 25px;
  background-color: #ffffffe8;
  color: #000;
}

.our_services {
  padding-top: 140px;
  padding-bottom: 120px;
}

.service_head h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #181818;
  font-size: 45px;
  line-height: 48px;
  font-weight: 600;
}
.service_head h2 span {
  color: #fd5a0d;
}
.service_content p {
  margin-bottom: 0px;
  color: #505050;
  line-height: 28px;
}

.card__bx {
  height: 350px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #181818;
  transition: 0.5s ease-in-out;
}
.card__bx:hover {
  border: 1px solid #fd5a0d;
}

.card__bx::before,
.card__bx::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.card__bx::before {
  inset: -10px 50px;
  border-top: 4px solid #fd5a0d;
  transform: skewY(15deg);
  border-bottom: 4px solid #fd5a0d;
}
.card__bx:hover::before {
  inset: -10px 40px;
  transform: skewY(0deg);
}
.card__bx::after {
  inset: 60px -10px;
  border-left: 4px solid #fd5a0d;
  transform: skew(15deg);
  border-right: 4px solid #fd5a0d;
}
.card__bx:hover::after {
  inset: 40px -10px;
  transform: skew(0deg);
}
.card__bx .card__data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card__bx .card__data .card__icon {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #181818;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.card__bx .card__data .card__icon {
  color: #181818;
  box-shadow: 0 0 0 4px #fd5a0d, 0 0 0 6px #fd5a0d;
}
.card__bx:hover .card__data .card__icon {
  color: #fff;
  background-color: #fd5a0d;
  box-shadow: 0 0 0 4px #fff, 0 0 0 300px #fd5a0d;
}
.card__bx .card__data .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__bx .card__data h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #181818;
  transition: 0.5s ease-in-out;
}
.card__bx:hover .card__data h3 {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.card__bx .card__data p {
  font-size: 0.9rem;
  color: #505050;
  transition: 0.5s ease-in-out;
}
.card__bx:hover .card__data p {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.card__bx .card__data a {
  position: relative;
  display: inline-flex;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  border: 2px solid #fd5a0d;
  color: #fff;
  background-color: #fd5a0d;
  transition: 0.5s ease-in-out;
}
.card__bx:hover .card__data a {
  color: #fd5a0d;
  background-color: #fff;
}
.card__bx:hover .card__data a:hover {
  border-color: #fff;
  color: #fff;
  background-color: #fd5a0d;
}

@media only screen and (max-width: 1400px) {
  .banner {
    height: 90vh;
  }

  .banner_home img {
    height: 250px;
    width: 100%;
  }

  .banner .main_content h1 {
    font-size: 45px;
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-width: 1199px) {
  .banner {
    height: 80vh;
  }

  .banner_home img {
    height: 230px;
    width: 100%;
  }

  .banner .main_content h1 {
    font-size: 40px;
    padding: 18px 0 0 0;
  }
  .main_content p {
    font-size: 15px;
    margin-top: 10px;
  }
  .our_services {
    padding-top: 110px;
    padding-bottom: 90px;
  }
  .service_head h2 {
    font-size: 35px;
    margin-bottom: 7px;
  }
  .service_content p {
    line-height: 28px;
    font-size: 16px;
  }
  .card__bx .card__data h3 {
    font-size: 22px;
  }
  .card__bx .card__data p {
    font-size: 14px;
    margin: 0;
  }
  .card__bx .card__data a {
    font-size: 14px;
    padding: 7px 15px;
  }
}

@media only screen and (max-width: 990px) {
  .container-fluid {
    padding: 0 30px !important;
  }

  .banner {
    height: 80vh;
  }

  .banner_home {
    bottom: 0;
  }
  .banner_btn {
    margin-top: 15px;
  }

  .banner_home img {
    height: 200px;
    width: 100%;
  }

  .banner .main_content h1 {
    font-size: 35px;
    padding: 15px 0 0 0;
  }
  .our_services {
    padding-top: 90px;
    padding-bottom: 75px;
  }
  .service_head h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .service_content p {
    line-height: 24px;
    font-size: 14px;
  }
  .card__bx {
    height: 330px;
    width: 300px;
  }
  .card__bx .card__data .card__icon {
    height: 70px;
    width: 70px;
  }
  .card__bx .card__data h3 {
    font-size: 20px;
  }
  .card__bx .card__data p {
    font-size: 14px;
    margin: 0;
  }
  .card__bx .card__data a {
    font-size: 14px;
    padding: 7px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 70vh;
  }

  .banner .main_content {
    top: 20%;
  }

  .banner_home img {
    height: 180px;
    width: 100%;
  }

  .banner .main_content h1 {
    font-size: 30px;
    padding: 10px 0 0 0;
  }
  .main_content p {
    font-size: 14px;
    margin-top: 5px;
    padding-right: 10px;
  }
  .our_services {
    padding-top: 75px;
    padding-bottom: 65px;
  }
  .service_head h2 {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .service_content p {
    line-height: 24px;
    font-size: 14px;
  }
  .card__data p {
    font-size: 13px;
  }

  .card__bx {
    height: 300px;
    width: 270px;
  }
  .card__bx .card__data .card__icon {
    height: 60px;
    width: 60px;
  }
  .card__bx .card__data h3 {
    font-size: 18px;
  }
  .card__bx .card__data p {
    font-size: 13px;
    margin: 0;
  }
  .card__bx .card__data .card__content {
    gap: 8px;
  }
  .card__bx .card__data a {
    font-size: 12px;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 575px) {
  .banner_home img {
    height: 150px;
    width: 100%;
  }
  .banner .main_content h1 {
    font-size: 25px;
    padding: 0;
  }
  .main_content p {
    font-size: 13px;
    margin-top: 0px;
    padding-right: 10px;
  }
  .main_content p br {
    display: none;
  }
  .our_services {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .service_head h2 {
    font-size: 23px;
  }
  .service_content p {
    line-height: 22px;
    font-size: 13px;
  }
  .card__data p {
    font-size: 13px;
  }
}
